:root {
  --DarkPink: #FF8197;
  --MediumPink: #FEE2E2;
  --LightPink: #FEF0EC;
  --DarkBlue: #364b73;
}

/* Containers */

.container-fluid {
  /* padding: 3% 15% 3% 5%; */
  padding: 3% 15%;
}

.shadow {
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); */
  box-shadow: 0px 8px 20px 9px rgb(0 0 0 / 25%);
}

.navbar-toggler-custom {
  color: var(--DarkPink);
  font-size:2rem;
}
.container-centre {
  margin: 0 15%;
}

/* Sections */
.dark-pink-section,
.dark-pink-section p {
  background-color: var(--DarkPink);
  color:white;
}

.medium-pink-section,
.medium-pink-section p {
  background-color: var(--MediumPink);
  color: var(--DarkBlue);
}

#header {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: var(--LightPink);
  color: var(--DarkBlue);
}

.headline-section {
  background-color: var(--MediumPink);
  color: var(--DarkBlue);
}

.white-section {
  background-color: #fff;
  color: var(--DarkPink);
}

.navbar-section {
  margin: 0 15%;
  background-color: var(--LightPink);
}

body {
  font-family: 'Prompt', sans-serif;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  color: inherit;
}

.big-heading {
  font-weight: 600;
  padding: 5% 0;
}

h3 {
  color: var(--DarkBlue);
  font-size:1.3rem;
}

h4 {
  color: var(--DarkPink);
}

p {
  color: #8f8f8f;
}

ul {
  text-align: center;
  margin: 0;
  padding: 0;
}
li {
   list-style-type: none;
   text-align: center;
   color: #8f8f8f;
   font-size: 0.9rem;
}

.btn-pink {
  background-color: var(--DarkPink);
  color: white;
  border-radius: 5px;
  padding: 1% 8%;
  border: 1px solid var(--DarkPink);
  text-decoration: none;
}

.btn-pink:hover {
  background-color: white;
  border: 1px solid var(--DarkPink);
  color: var(--DarkPink);
  text-decoration: none;
}

.avatar {
  border-radius: 100%;
  width: 100px;
  height: auto;
  border: 5px solid var(--DarkPink);
  margin: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
/* Headings */

/* .section-heading {
  font-size: 2rem;
  line-height: 1.5rem;
} */

/* Navigation Bar */

.home-logo {
  width: 200px;
  height: auto;
}

.logo {
  width: 150px;
  height: auto;
}

.sub-page {
  width: 150px;
  height: auto;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5em;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Prompt', sans-serif;
  font-weight: 400;
  color: var(--DarkBlue);
}
.nav-link:hover {
  color: var(--DarkPink);
}

.nav-link-active {
    color: var(--DarkPink);
    border-bottom: 3px solid var(--DarkBlue);
}

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15%;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;

}

/* Feature Section */


#features {
  background-color: #FF8197;

  position: relative;
}

#features p {
  color: #FEF0EC;
}

.feature-icon {
  /* font-size: 4em; */
  color: #FF8197;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  /* font-size: 4em; */
  color: #FEE2E2
}

.feature-title {
  font-size: 1.5rem;
}
.feature-box {

  padding: 5%;
}

/* Testimonial Section */

#testimonials {
  color: #FEE2E2;
  background-color: #FEF0EC;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {

}

.testimonial-text {
  font-size: 1rem;
  line-height: 1.5;
}

/* Press Section */
#press {
  background-color: #FEF0EC;
  color: #364b73;
  padding-bottom: 3%;
}

.press-logo {
  width: 100px;
  margin: 20px 20px 50px;

}

/* Pricing */

/* #pricing {
  padding: 50px 100px;

} */

.pricing-column {
  padding: 3% 2%;
}

 .price-text {
   font-size: 1.5rem;
   line-height: 1.5;
 }

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }


}

/* Call to action */
form {
  text-align: left;
}

@media (max-device-width:500px) {
  .form-control {
    line-height: 2;
    font-size: 2rem;
  }
}
@media (max-device-width:500px) {
  .btn {
    font-size: 3rem;
    padding: 2% 5%;
  }
}

.contact-details {
  text-align: left;
}
/* Footer */

#footer {
  color: white;
}

.footer-icon {
  padding: 0 10px
}

label.form-label {
  color: var(--DarkBlue);
}
