:root {

  --DarkPink: #D998A3;
  --LightPink: #ECB7BF;
  --DarkBlue: #364b73;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 0.9rem;
}

h1 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.2rem;
  color: inherit;
}

h3 {
  color: var(--DarkBlue);
  font-size:1.1rem;
}

h4 {
  color: var(--DarkPink);
}

p {
  color: #8f8f8f;
}

ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

li {
   list-style-type: none;
   text-align: center;
   color: #8f8f8f;
}

form {
  text-align: left;
}

label.form-label {
  color: var(--DarkBlue);
}

/* Containers */
.container-fluid {
  padding: 5% 15%;
}

.container-centre {
  margin: 0 15%;
}

.feature-box-border {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25em;
}

.feature-box {
  margin-top: 5%;
}

/* Header */
#header {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #fff;
  color: var(--DarkBlue);
}

/* Navbar */
img.logo {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 120px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: var(--DarkBlue);
}
.nav-link:hover {
  color: var(--DarkPink);
}

.nav-link-active {
    color: var(--DarkPink);
    border-bottom: 3px solid var(--DarkBlue);
}

.navbar-toggler-custom {
  color: var(--DarkPink);
  font-size:2rem;
}

/* Sections */
.dark-pink-section,
.dark-pink-section p {
  /* padding-top: 5%;
  padding-bottom: 5%; */
  background-color: var(--DarkPink);
  color: #fff;
}

.light-pink-section,
.light-pink-section p {
  /* padding-top: 5%; */
  background-color: var(--LightPink);
  color: var(--DarkBlue);
}

.white-section {
  /* padding-top: 5%; */
  background-color: #fff;
  color: var(--DarkPink);
}

.headline-image-section {
  padding: 5%;
  color: var(--DarkBlue);
  background-image: url("../images/emma-claude-home.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 100%; */
  /* height: 100%; */
}

.about-image-section {
  padding: 5% 15%;
  color: var(--DarkBlue);
  background-image: url("../images/emma-claude-about.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.service-column {
  padding: 3% 2%;
}

.contact-details {
  text-align: left;
}

/* Headings and Text */
.big-heading {
  font-weight: 600;
  padding: 5% 0;
}

.headline-heading {
  font-weight: 600;
  padding: 5% 3%;
  /* font-size: 1.2rem; */
}

.about-heading {
  font-weight: 600;
  padding-top: 15%;
  font-size: 1.1rem;
}

.testimonial-text {
  /* font-size: 1.2rem; */
  line-height: 1.5;
}

.footer-text {
  font-size: 0.8rem;
  line-height: 1.5;
}

/* Buttons */
.btn-light-pink {
  background-color: var(--LightPink);
  color: white;
  border-radius: 5px;
  padding: 1% 8%;
  border: 1px solid #fff;
  text-decoration: none;
}

.btn-light-pink:hover {
  background-color: white;
  border: 1px solid var(--LightPink);
  color: var(--LightPink);
  text-decoration: none;
}

.btn-pink {
  background-color: var(--DarkPink);
  color: white;
  border-radius: 5px;
  border: 1px solid var(--DarkPink);
  text-decoration: none;
}

.btn-pink:hover {
  background-color: white;
  border: 1px solid var(--DarkPink);
  color: var(--DarkPink);
  text-decoration: none;
}

.btn-white {
  background-color: #fff;
  color: var(--DarkPink);
  border-radius: 5px;
  border: 1px solid var(--DarkPink);
  text-decoration: none;
}

.btn-white:hover {
  background-color: var(--DarkPink);
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
}

/* Images */
img.service-icons {
  width: 160px;
  padding: 7%;
}

img.avatar {
  border-radius: 100%;
  width: 200px;
  height: auto;
  border: 5px solid var(--DarkPink);
  margin: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

img.cert {
  border-radius: 100%;
  width: 200px;
  height: auto;
  margin: 10px;
}

img.stonesoft-image {
  width: 150px;
}

.press-logo {
  width: 100px;
  margin: 20px 20px 50px;

}

.footer-icon {
  padding: 0 10px
}

/* Animations */
.fade-in-text {
  animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* ------ RESPONSIVE CSS ------- */

/* Landscape Phones */
@media (min-width:576px) {

  body {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 1.1rem;
  }

  /* Navbar */
  img.logo {
    padding: 5%;
    width: auto;
  }

  /* Containers */
  .container-fluid {
    padding: 3% 15%;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.4rem;
    color: inherit;
  }

  h3 {
    color: var(--DarkBlue);
    font-size:1.3rem;
  }

  .feature-box-border {
    border: none;

  }

  .feature-box {
    margin-top: 0;
  }

  .about-heading {
    font-weight: 600;
    padding-top: 20%;
    font-size: 1.5rem;
  }
}

/* Desktop, iPad Pro and above*/
@media (min-width: 992px) {

  body {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 1.2rem;
  }

  /* Navbar */
  img.logo {
    padding: 5%;
    width: auto;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
    color: inherit;
  }

  h3 {
    color: var(--DarkBlue);
    font-size:1.4rem;
  }

  .about-heading {
    font-weight: 600;
    padding-top: 20%;
    font-size: 2rem;
  }

  .feature-box-border {
    border: none;
  }

  .feature-box {
    margin-top: 0;
  }
}
